<ngx-extended-pdf-viewer #extendedPdfViewer [src]="'assets/test.pdf'" [useBrowserLocale]="true" [textLayer]="true"
  [minifiedJSLibraries]="false" [customToolbar]="customToolbarTemp"></ngx-extended-pdf-viewer>
<ng-template #customToolbarTemp>
  <pdf-toolbar-custom (onToolbarLoaded)="extendedPdfViewer.onToolbarLoaded($event)"
    [sidebarVisible]="extendedPdfViewer.sidebarVisible"
    [class.server-side-rendering]="extendedPdfViewer.serverSideRendering"
    [mobileFriendlyZoomScale]="extendedPdfViewer.mobileFriendlyZoomScale"
    [(pageViewMode)]="extendedPdfViewer.pageViewMode" [primaryMenuVisible]="extendedPdfViewer.primaryMenuVisible"
    [scrollMode]="extendedPdfViewer.scrollMode ?? 0" [showPropertiesButton]="extendedPdfViewer.showPropertiesButton"
    [showBookModeButton]="extendedPdfViewer.showBookModeButton"
    [showDownloadButton]="extendedPdfViewer.showDownloadButton" [showDrawEditor]="extendedPdfViewer.showDrawEditor"
    [showFindButton]="extendedPdfViewer.showFindButton" [showHandToolButton]="extendedPdfViewer.showHandToolButton"
    [showHorizontalScrollButton]="extendedPdfViewer.showHorizontalScrollButton"
    [showInfiniteScrollButton]="extendedPdfViewer.showInfiniteScrollButton"
    [showOpenFileButton]="extendedPdfViewer.showOpenFileButton"
    [showPagingButtons]="extendedPdfViewer.showPagingButtons"
    [showPresentationModeButton]="extendedPdfViewer.showPresentationModeButton && extendedPdfViewer.pageViewMode !== 'book'"
    [showPrintButton]="extendedPdfViewer.showPrintButton && extendedPdfViewer.enablePrint"
    [showRotateButton]="extendedPdfViewer.showRotateButton"
    [showSecondaryToolbarButton]="extendedPdfViewer.showSecondaryToolbarButton && !extendedPdfViewer.service.secondaryMenuIsEmpty"
    [showSidebarButton]="extendedPdfViewer.showSidebarButton"
    [showSinglePageModeButton]="extendedPdfViewer.showSinglePageModeButton"
    [showSpreadButton]="extendedPdfViewer.showSpreadButton" [showStampEditor]="extendedPdfViewer.showStampEditor"
    [showTextEditor]="extendedPdfViewer.showTextEditor"
    [showVerticalScrollButton]="extendedPdfViewer.showVerticalScrollButton"
    [showWrappedScrollButton]="extendedPdfViewer.showWrappedScrollButton"
    [showZoomButtons]="extendedPdfViewer.showZoomButtons && extendedPdfViewer.pageViewMode !== 'book'"
    [spread]="extendedPdfViewer.spread" [textLayer]="extendedPdfViewer.textLayer"
    [toolbarMarginTop]="extendedPdfViewer.toolbarMarginTop" [toolbarWidth]="extendedPdfViewer.toolbarWidth"
    [zoomLevels]="extendedPdfViewer.zoomLevels" [findbarVisible]="extendedPdfViewer.findbarVisible">
  </pdf-toolbar-custom>
</ng-template>